

@import url('https://fonts.googleapis.com/css2?&family=Courgette&family=Poppins&display=swap');

:root {
  --light: #f3f3f3;
  --dark: #060606;
  --light-color: #fcffea;
  --dark-color: #000000;
  --primary: #d80707;
  --secondary: #4d0000;
}

* {
  box-sizing: border-box;
}

html {
font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background-color: var(--light);
}

